#accordion{
    margin-top: 20px; 
    transition: 1s all;
}
#accordion a:hover{
    text-decoration: none;
}

.titulo-depoimentos{
    background-color:#0275D8; 
    color: white;
    padding: 20px 0;
    margin-bottom: 0;
}
